*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --bodyBG : linear-gradient(255deg,
            hsl(0deg 89% 4%) 0%,
            hsl(354deg 78% 5%) 5%,
            hsl(346deg 70% 6%) 10%,
            hsl(337deg 63% 7%) 16%,
            hsl(330deg 56% 7%) 22%,
            hsl(323deg 49% 8%) 30%,
            hsl(315deg 43% 9%) 38%,
            hsl(304deg 38% 9%) 50%,
            hsl(289deg 37% 10%) 80%,
            hsl(275deg 37% 12%) 94%,
            hsl(252deg 35% 14%) 97%,
            hsl(224deg 49% 14%) 98%,
            hsl(207deg 89% 12%) 99%,
            hsl(202deg 100% 12%) 100%,
            hsl(198deg 100% 12%) 100%,
            hsl(192deg 100% 11%) 100%,
            hsl(185deg 100% 11%) 100%,
            hsl(176deg 100% 10%) 100%,
            hsl(167deg 93% 11%) 100%,
            hsl(149deg 47% 15%) 100%);;
    --accent : rgb(196, 188, 188);
    --btnmainBG: linear-gradient(150deg,
            hsl(0deg 0% 94%) 0%,
            hsl(27deg 15% 90%) 8%,
            hsl(28deg 21% 85%) 16%,
            hsl(28deg 24% 81%) 25%,
            hsl(28deg 25% 77%) 34%,
            hsl(24deg 31% 75%) 43%,
            hsl(11deg 43% 77%) 52%,
            hsl(353deg 51% 79%) 60%,
            hsl(332deg 51% 79%) 68%,
            hsl(294deg 40% 77%) 75%,
            hsl(323deg 67% 81%) 81%,
            hsl(357deg 100% 86%) 87%,
            hsl(25deg 100% 82%) 92%,
            hsl(47deg 81% 80%) 96%,
            hsl(101deg 89% 86%) 100%);
    --btnmainCol : rgb(18, 16, 16);

    --formBG : linear-gradient(255deg,
            hsl(0deg 0% 0%) 0%,
            hsl(264deg 100% 5%) 14%,
            hsl(266deg 80% 5%) 24%,
            hsl(266deg 62% 7%) 33%,
            hsl(265deg 49% 8%) 41%,
            hsl(265deg 39% 9%) 49%,
            hsl(274deg 33% 11%) 57%,
            hsl(288deg 32% 13%) 64%,
            hsl(303deg 32% 14%) 70%,
            hsl(315deg 35% 17%) 76%,
            hsl(318deg 40% 16%) 82%,
            hsl(317deg 49% 13%) 87%,
            hsl(316deg 64% 10%) 92%,
            hsl(316deg 100% 7%) 96%,
            hsl(0deg 0% 0%) 100%);
    
    --formCol : black;
    --cardBG : rgb(29, 56, 42);
    
}

body {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: black;
    background-image: var(--bodyBG);
    color: var(--accent);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 1rem 1.5rem;
    border-bottom: 10px dotted var(--accent);
}

header #addBook {
    padding: 1rem ;
    font-size: 1.5rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-image: var(--btnmainBG);
    color: var(--btnmainCol);
    border-radius: 0.5rem;
    -webkit-box-shadow: 10px 10px 10px 3px rgba(99, 98, 98, 0.66);
    -moz-box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 0.66);
    box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 0.66);
    cursor: pointer;
    transition: all 0.4s;
}
header #addBook:hover {
    transform: scale(1.1);
}
header #addBook:active {
    background-color: black;
    transform: scale(1);
}

.addFormContainer {
    display: none;/*flex*/
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    backdrop-filter: blur(5px);
}

.addForm {
    background-image: var(--formBG);
    color: var(--formCol);
    min-width: 200px;
    max-width: fit-content;
    padding: 1rem;
    font-size: 1.6rem;
    height: fit-content;
    border-radius: 0.6rem;
    text-align: center;
    color: var(--accent);
}

.addForm form {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    margin-top: 1rem;
}

.addForm form .text {
    padding: 0.6rem 0.5rem;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 0.5rem;
}
.addForm form .read {
    border: 4px solid rgb(247, 235, 235);
    background-color: transparent;
    appearance: none;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    display: grid;
    place-content: center;
    transition: all 0.4s;
    border-radius: 20%;
}
.addForm form .read:hover {
    transform: scale3d(1.2,1.2,1.2);
}
.addForm form .read:active{
    transform: scale3d(.5,0.5,0.5);
}
.addForm form .read:checked {
    background-image: var(--btnmainBG);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transition: all 0.5s;
}

.addBook {
    padding: 0.7rem;
    font-weight: 600;
    outline: none;
    border: none;
    background-image: var(--btnmainBG);
    border: 5px solid Black;
    color: var(--btnmainCol);
    border-radius: 0.4rem;
    -webkit-box-shadow: 6px 6px 6px 3px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 6px 5px 6px 3px rgba(0, 0, 0, 0.66);
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.66);
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.4s;
}
.addBook:hover {
    transform: scale(1.1);
}
.addBook:active {
    background-color: black;
    transform: scale3d(0.6,0.6,0.6);
}

.close {
    font-weight: 400;
    font-size: 50px;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;
    border: 5px solid red;
    background-color: transparent;
    border-radius: 50%;
    color: rgb(241, 239, 239);
}
.close:hover {
    transform: scale3d(1.1,1.1,1.1);
}
.close:active {
    transform: scale3d(0.8,0.8,0.8);
    border: 5px solid greenyellow;
    color: greenyellow;
}


.bookContainer {
    padding: 1rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) );
}
.bookCard {
    background-image: var(--btnmainBG);
    color: rgb(0, 0, 0);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    border-radius: 1rem;
    font-size: 1.4rem;
    -webkit-box-shadow: 10px 10px 10px 3px rgba(99, 98, 98, 0.66);
    -moz-box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 0.66);
    box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 0.66);

}
.bookTitle {
    border-bottom: 1px solid black;
}
.readStatus {
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.3rem;
    width: fit-content;
    margin: auto;
    font-weight: 600;
    background-color: rgb(15, 15, 14);
    border: none;
    outline: none;
    border-radius: 0.4rem;
    transition: all 0.4s;
}
.readStatus:hover {
    transform: scale3d(1.2,1.2,1.2);
}
.readStatus:active {
    transform: scale3d(0.8,0.8,0.8);
    background-color: black;
}

.read {
    color: rgb(9, 174, 9);
}
.notRead{
    color: red;
}


.remove {
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 600;
    width: fit-content;
    margin: auto;
    color: antiquewhite;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    padding: 0.5rem;
    background-color: rgb(171, 20, 20);
    transition: all 0.4s;
}
.remove:hover {
    transform: scale3d(1.2, 1.2, 1.2);
}
.remove:active{
    transform: scale3d(0.8, 0.8, 0.8);
    background-color: black;
    color: azure;
}

.view{
    display: flex;
}

@media (max-width: 500px) {
    header {
        padding: 1rem 0.5rem;
    }
    header #addBook {
        font-size: 1.5rem;
        padding: 1rem 0.4rem;
        width: fit-content;
    }
}
